body{
  text-align: center;
}
.body{
  display: none;
}
header{
  text-align: inherit;
  border-bottom: 1px solid gray;
  font-family: 'Arvo', serif;
}
#welcomenote{
  height: 400px;
}
#welcomenote p{
  margin-top: 200px;
}
#welcomenote button{
  border: none;
  background-color: transparent;
  margin-top: 230px;
}
#gallery{
  background-image: url('../img/back/bck1.jpg');
  background-size: cover;
}
.gallery{
	text-align: center;
	background: url('../img/gal-back.jpg');
	background-size: cover;]
	background-position: fixed;
}
.gallery img{
	margin-top: 20px;
	margin: 20px;
	transition: 1s;
	padding:15px;
	width: 200px;
}
.gallery img:hover{
	filter:grayscale(100%);
	transform: scale(1.1);
}
