body{
  text-align: center;
}
.body{
  display: none;
}
header{
  text-align: inherit;
  font-family: 'Arvo', serif;
}
#welcomenote{
  height: 400px;
}
#welcomenote p{
  margin-top: 200px;
}
#welcomenote a{
  color: inherit;
  margin-top: 300px;
}
#welcomenote a:hover{
  color: blue;
}
#gallery{
  background-image: url('../img/back/bck1.jpg');
  background-size: cover;
  width: 100%;
}
.gallery{
	text-align: center;
}
.gallery img{
	margin-top: 20px;
	margin: 20px;
	transition: 1s;
	padding:15px;
	width: 200px;
}
.gallery img:hover{
	filter:grayscale(100%);
	transform: scale(1.1);
}
